
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    /* Define the range of font stretch (optional) */
    font-optical-sizing: auto;
}

html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5;
    font-optical-sizing: auto;
    color: #495057;
    margin: 0;
}

.skip-to-content {
    position: absolute;
    top: -50px;
    left: 10px;
    background-color: #000;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1000;
}

.skip-to-content:focus {
    top: 10px;
}

header {
    min-height: 100%;
    box-sizing: border-box;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url(img/menu.svg);
}
h2 {
    color: #22223b;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    letter-spacing: -1px;
}

h3 {
    padding-bottom: 1rem;
}

article {
    padding-bottom: 180px;
}

p, li {
    line-height: 1.6;
}
li {
    padding-bottom: 1rem;
}

article:first-of-type {
    padding-bottom: 0;
}

.citation {
    padding-top: 1.5rem;
}
img.profile {
    max-width: 200px;
}

.weekly {
    padding-bottom: 2rem;
}

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
}
.go-to-top img {
    width: 40px;
    height: 40px;
}
.go-to-top:hover {
    transform: scale(1.1);
}
.go-to-top.show {
    display: block;
}
.go-to-top {
    display: none;
}
